@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
}

h1{
    font-family: 'Lexend Peta', sans-serif;
    font-size: 76.29px;
    letter-spacing: 0.025em;
    font-weight: 400;
}

h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
    letter-spacing: 0.09em;
    margin-top: 83px;
    font-weight: 600;
    margin-bottom: 39px;
}

button{
    border: 2px solid black;
    background-color: white;
    font-family: 'Mulish', sans-serif;
    color: black;
    font-size: 14px;
    letter-spacing: 0.09em;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}

/* navigation */
header {
    padding: 1% 3%;
    background-color: #58475B;
    width: 94%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: absolute;
}

.nav {
    align-self: center;
}

header ul{
    padding: 0;
}

header li {
    padding: 0 50px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    letter-spacing: 0.09em;
}

header li:first-of-type{
    padding-left: 0;
}

header li:last-of-type{
    padding-right: 0;
}

.nav button{
    border: 2px solid white;
    background-color: #58475B;
    color: white;
}


/* hero */
.hero {
    position: relative;
    text-align: center;
    color: white;
}

.herotext {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.herotext p {
    font-family: 'Mulish', sans-serif;
    font-size: 19.2px;
    font-weight: 400;
    letter-spacing: .09em;
}

/* latest service */
.latestservice{
    width: 100%;
}
.servicevid {
    z-index: 1000; 
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
    border: 20px solid white; 
    box-shadow: 3px 3px 20px black;
}
.service{
    position: relative;
    margin-bottom: 112px;
}
.purplerec{
    position: absolute; 
    top: 50%; 
    background-color: #58475B; 
    width: 100%; 
    height: 50%;
    padding-bottom: 112px;
}

.servicetimes p {
font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 120%;
letter-spacing: 0.09em;
color: #000000
}